@using System.Reflection
<div class="w3-row-padding w3-col w3-padding-16 w3-center w3-rest">
    @foreach (var item in @Model.FirstPart)
    {
        <a href="@Url.Action("Show", new { id = item.Id })">
            <div class="w3-quarter">
                <div class="w3-display-container">
                    <img src="~/Content/Images/preview-background.png" style="width: 100%">
                    <div class="w3-display-bottomright w3-text-white" style="margin-right: 5px; padding-bottom: 15px;">
                        @(DateTime.Now.Subtract(item.CreatedAt).Hours > 24
                              ? $"Created {DateTime.Now.Subtract(item.CreatedAt).Days} days ago"
                              : $"Created {DateTime.Now.Subtract(item.CreatedAt).Hours} hours ago")
                    </div>
                    <div class="w3-display-bottomright w3-text-white" style="margin-right: 5px;">
                        @{
                            bool hasPrice;
                            try
                            {
                                Type type = item.GetType();
                                hasPrice = type.GetProperty("Price") != null;
                            }
                            catch (AmbiguousMatchException)
                            {
                                hasPrice = false;
                            }
                        }
                        @(
                            hasPrice ? $"Price: {item.Price}" : ""
                        )
                    </div>
                </div>
                <div class="provider-title">
                    <h3>@Html.ActionLink((string) item.Title, "Show", new {id = item.Id})</h3>
                </div>
                <div class="preview-body">
                    <p>@item.Body</p>
                </div>
            </div>
        </a>
    }
</div>
@if (Model.SecondPart != null)
{
<div class="w3-row-padding w3-col w3-padding-16 w3-center w3-rest">
    @foreach (var item in @Model.SecondPart)
    {
        <a href="@Url.Action("Show", new { id = item.Id })">
            <div class="w3-quarter">
                <div class="w3-display-container">
                    <img src="~/Content/Images/preview-background.png" style="width: 100%">
                    <div class="w3-display-bottomright w3-text-white" style="margin-right: 5px; padding-bottom: 15px;">
                        @(DateTime.Now.Subtract(item.CreatedAt).Hours > 24
                              ? $"Created {DateTime.Now.Subtract(item.CreatedAt).Days} days ago"
                              : $"Created {DateTime.Now.Subtract(item.CreatedAt).Hours} hours ago")
                    </div>
                    <div class="w3-display-bottomright w3-text-white" style="margin-right: 5px;">
                        @{
                            bool hasPrice;
                            try
                            {
                                Type type = Model.GetType();
                                hasPrice = type.GetProperty("Price") != null;
                            }
                            catch (AmbiguousMatchException)
                            {
                                hasPrice = false;
                            }
                        }
                        @(
                            hasPrice ? $"Price: {item.Price}" : ""
                         )
                    </div>
                </div>
                <div class="provider-title">
                    <h3>@Html.ActionLink((string) item.Title, "Show", new {id = item.Id})</h3>
                </div>
                <div class="preview-body">
                    <p>@item.Body</p>
                </div>
            </div>
        </a>
    }
</div>
}