@using ServicePlace.Model.ViewModels.OrderResponseViewModels
@model OrderResponseViewModel

<div class="notification-container w3-card-4 w3-animate-bottom" id=@($"order-response-notification")>
    <div class="notification-header w3-gray w3-text-white w3-large">
        <strong>
            @Html.ActionLink(Model.Order.Title, "Show", "Order", new { id = Model.Order.Id }, null)
        </strong>
        <a class="w3-right" onclick=@($"closeNotification('order-response-notification')") style="cursor: pointer">X</a>
    </div>
    <div class="notification-content w3-white w3-text-black w3-large">@Resources.Resource.Provider<text> </text>
        @Html.ActionLink(Model.Provider.Title, "Show", "Provider", new { id = Model.Provider.Id }, null)
        @Resources.Resource.NotifBody<text> </text>
        @Html.ActionLink(Model.Order.Title, "Show", "Provider", new { id = Model.Order.Id }, null)</div>
</div>