@model ServicePlace.Website.Models.OrderViewModels.PreviewViewModel

<link rel="stylesheet" href="~/css/order.css" />

<div class="preview-container">
    <img src="~/images/preview-background.png" alt="Avatar" class="preview-image">
    <div class="preview-content">
        <div class="preview-title"><a asp-controller="Order" asp-action="Get" asp-route-id="@Model.Id" class="preview-title">@Model.Title</a></div>
        <div class="preview-body">@Model.Body</div>
    </div>
    <div class="preview-info">
        <div class="preview-date">@Model.CreatedAt.ToShortDateString()</div>
        <div class="preview-creator">@Model.Creator</div>
    </div>
</div>