@using ServicePlace.Model.ViewModels.OrderResponseViewModels
@model IEnumerable<IndexViewModel>

@{
    Layout = null;
}

@foreach (var orderResponse in Model)
{
<div class="order-response">
    <div class="order-response-image">
        <img src="~/Content/Images/preview-background.png" />
    </div>
    <div class="w3-card-2 order-response-content">
        <header class="w3-container w3-light-gray">
            <h3><strong>@Html.ActionLink(@orderResponse.Provider.Title, "Show", "Provider", new { id = orderResponse.Provider.Id }, null)</strong></h3>
        </header>
        <div class="w3-container">
            <p>@orderResponse.Comment</p>
        </div>
    </div>
    <div class="w3-card-2 w3-light-gray order-response-info">
        <div class="w3-container">
            <p>@orderResponse.Price</p>
        </div>
        <div class="w3-container">
            <p>@orderResponse.CreatedAt</p>
        </div>
    </div>
</div>
<br />
<br />
}