@using ServicePlace.Model.ViewModels.ProviderViewModels
@model ProviderViewModel

@{
    ViewBag.Title = Model.Title;
}

<link rel="stylesheet" href="~/Content/provider.css" />

<div class="w3-card-4 order-image w3-display-container">
    <img src="@Model.Images.First()">
    <div class="w3-display-bottomleft w3-container w3-xxlarge w3-right w3-text-white">
        @Model.User.Name
    </div>
    <div class="w3-display-bottomright w3-container w3-text-white" style="padding-bottom: 14px">Created by @Model.User.UserName</div>
    <div class="w3-display-bottomright w3-container w3-text-white">Created at @Model.CreatedAt</div>
</div>

<br />
<br />

<div class="w3-xlarge">
    @Model.Body
</div>

<div class="w3-xxxlarge w3-right">
    Price: @Model.Price
</div>
<br />
<br />
<br />
<br />

<div class="images">
    @if (Model.Images.Any())
    {
        foreach (var image in Model.Images)
        {
            <a href="@image" target="_blank">
                <img src="@image" class="content-image" />
            </a>
        }
    }
</div>

<div class="response-container">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("Create", "ProviderResponse", new { providerId = Model.Id })
    }
    @Html.Action("Index", "ProviderResponse", new { providerId = Model.Id })
</div>