@using Microsoft.AspNet.Identity
@using ServicePlace.Model.ViewModels.ProviderViewModels
@using Constants = ServicePlace.Common.Constants
@model ProviderViewModel

@{
    ViewBag.Title = Model.Title;
}

<div class="w3-card-4 order-image w3-display-container">
    <img src="@Constants.HeaderImage" class="header-image">
    <div class="w3-display-bottomleft w3-container w3-xxlarge w3-right w3-text-white">
        @Model.User.Name
    </div>
    <div class="w3-display-bottomright w3-container w3-text-white" style="padding-bottom: 14px">
        @Resources.Resource.Created @Model.User.UserName
    </div>
    <div class="w3-display-bottomright w3-container w3-text-white">
        @Resources.Resource.Created @Model.CreatedAt
    </div>
</div>

<div class="status-actions">
    @if (User.Identity.GetUserId() == Model.User.Id || User.IsInRole(Constants.AdminRoleName))
    {
        using (Html.BeginForm("Delete", "Provider", FormMethod.Post, new { @id = "delete-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", Model.Id)
        }
        <div>
            @Html.ActionLink(Resources.Resource.Edit, "Edit", "Provider", new { id = Model.Id }, new { @class = "w3-button w3-black w3-hover-white w3-right w3-xlarge" })
            <a class="w3-button w3-black w3-hover-white w3-right w3-xlarge" onclick="$('#delete-form').submit()">
                @Resources.Resource.Delete
            </a>
        </div>
    }
    @if (User.IsInRole(Constants.AdminRoleName) && !Model.Approved)
    {
        using (Html.BeginForm("ApproveProvider", "Admin", FormMethod.Post, new { @id = "approve-form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("providerId", Model.Id)
        }
        <div>
            <a class="w3-button w3-black w3-hover-white w3-xlarge" onclick="$('#approve-form').submit()">
                @Resources.Resource.Approve
            </a>
        </div>
    }
</div>

<br />
<br />

<div class="w3-xlarge">
    @Model.Body
</div>

<div class="w3-xxxlarge w3-right">
    Price: @($"{Model.Price:C2}")
</div>
<br />
<br />
<br />
<br />

<div class="images">
    @if (Model.Images.Any())
    {
        if (Model.Images.Count() > 1)
        {
            foreach (var image in Model.Images)
            {
                <a href="@image" target="_blank">
                    <img src="@image" class="content-image" />
                </a>
            }
        }
        else
        {
            if (Model.Images.First() != Constants.DefaultProviderImage)
            {
                <a href="@Model.Images.First()" target="_blank">
                    <img src="@Model.Images.First()" class="content-image" />
                </a>
            }
        }
    }
</div>

<div class="response-container">
    @if (User.Identity.IsAuthenticated && User.Identity.GetUserId() != Model.User.Id)
    {
        @Html.Action("Create", "ProviderResponse", new { providerId = Model.Id })
    }
    @Html.Action("Index", "ProviderResponse", new { providerId = Model.Id })
</div>