@using ServicePlace.Model.ViewModels.OrderViewModels
@model CreateOrderViewModel

@{
    ViewBag.Title = "Create order";
}

<link rel="stylesheet" href="~/Content/order.css" />
<script src="~/Scripts/dropzone.js"></script>
@Styles.Render("~/Content/dropzonecss")

<div class="create-form w3-container w3-card-4">
    @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @id = "order-form" }))
    {
        <h2>@ViewBag.Title</h2>
        <br />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "w3-input", @id = "title-input" })
        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

        <br />
        @Html.LabelFor(m => m.Body)
        @Html.TextAreaFor(m => m.Body, new { @class = "w3-input" })
        @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })

        <br />

        @Html.LabelFor(m => m.CategoryId, "Category")
        @Html.DropDownListFor(m => m.CategoryId, Model.Categories, new { @class = "w3-select" })

        @Html.HiddenFor(m => m.Images, new { @id = "order-images" })

        <br />
        <br />
    }

    @Html.Partial("Partials/_DropzonePartial", new ViewDataDictionary { { "Selector", "order-images" }, { "Multiple", true } })
    <br />
    <button onclick="submitForm()" class="w3-button w3-black w3-hover-white">Create</button>
    <br />
    <br />
</div>

<script>
    function submitForm() {
        $("#order-form").submit();
    }
</script>